nav {
  border-bottom: 4px solid #b9d300;
  -webkit-box-shadow: 0px 6px 13px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 13px -9px rgba(0, 0, 0, 0.75);
  margin-bottom: 1em;
}

.navbar-toggler {
  color: #fff !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: #7eb444;
  border: none;
}
.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
